@use "./variables" as v;

.buttons__indent {
  display: block;
  width: 20px;
  height: 20px;
}

.buttons__button {
  display: block;
  box-sizing: border-box;
  min-width: 340px;
  padding: 25px 15px;
  text-align: center;
  align-items: center;
  font-family: v.$font;
  font-size: 20px;
  font-weight: 600;
  color: v.$color-font;
  border-radius: 15px;
}

.buttons__primary {
  color: v.$color-font;
  background-color: v.$color-button;
}

.buttons__primary:hover {
  color: v.$color-font;
  background-color: v.$color-button-hover;
}

.buttons__primary:active {
  color: v.$color-font;
  background-color: v.$color-button-active;
}

.buttons__secondary {
  color: v.$color-font;
  background-color: v.$color-button2;
}

.buttons__secondary:hover {
  color: v.$color-font;
  background-color: v.$color-button2-hover;
}

.buttons__secondary:active {
  color: v.$color-font;
  background-color: v.$color-button2-active;
}

.buttons__outline {
  color: v.$color-font2;
  background-color: v.$color-font;
  border: 1px solid v.$color-font2;
}

.buttons__outline:hover {
  color: v.$color-font;
  background-color: v.$color-button3-hover;
}

.buttons__outline:active {
  color: v.$color-font;
  background-color: v.$color-button3-active;
}