@use "./variables" as v;

.card {
  width: 387px;
  min-height: 208px;
  padding: 8px 20px 20px;
  border: 1px solid v.$color-border;
  border-radius: 15px;
}

.card__title {
  position: relative;
  z-index: 2;
  margin-bottom: 2px;
  padding-left: 33px;
  font-family: v.$font;
  font-size: 83px;
  font-weight: 600;
  color: v.$color-title;
}

.card__title::after {
  position: absolute;
  bottom: 16px;
  left: 0;
  z-index: -1;
  content: "";
  display: block;
  width: 70px;
  height: 71px;
  background-color: v.$color-circle;
  border-radius: 35px;
}

.card__text {
  font-family: v.$font2;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  color: v.$color-font2;
}