@font-face {
  font-family: "Oswald";
  src:
    local("Oswald"),
    url("../font/Oswald-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src:
    local("Lato"),
    url("../font/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}