@font-face {
  font-family: "MenorahGrotesk";
  src:
    local("MenorahGrotesk"),
    url("../fonts/MenorahGrotesk-Semi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MenorahGrotesk";
  src:
    local("MenorahGrotesk"),
    url("../fonts/MenorahGrotesk-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:
    local("Inter"),
    url("../fonts/Inter18pt-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}