@use "./variables" as v;


.price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 590px;
  min-height: 380px;
  padding: 20px;
  border: 1px solid v.$color-button;
  border-radius: 15px;
}

.price__title {
  margin-top: -10px;
  margin-bottom: 40px;
  font-family: v.$font;
  font-size: 36px;
  font-weight: 600;
  color: v.$color-button;
}

.price__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.price__item {
  position: relative;
  padding-left: 24px;
  font-family: v.$font2;
  font-size: 20px;
  font-weight: 400;
  color: v.$color-font2;
}

.price__item::before {
  position: absolute;
  top: 8px;
  left: 0;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: v.$color-button;
  border-radius: 4px;
}

.price__price {
  display: flex;
  height: 38px;
  gap: 20px;
}

.price__new {
  margin-top: -14px;
  font-family: v.$font;
  font-size: 54px;
  font-weight: 600;
  color: v.$color-button;
}

.price__new-ruble {
  font-size: 53px;
  font-weight: 400;
}

.price__old {
  position: relative;
  font-family: v.$font;
  font-size: 16px;
  font-weight: 600;
  color: v.$color-font3;
}

.price__old::after {
  position: absolute;
  top: 10px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: v.$color-font3;
}

.price__old-ruble {
  font-weight: 400;
}