.button {
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  display: block;
  max-width: 400px;
  max-height: 100px;
  padding: 10px;
  margin: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: white;
  background-color: blue;
}