@use "./variables" as v;

.uikit__card2 {
  width: 590px;
  min-height: 181px;
  margin-bottom: 20px;
  padding: 20px 20px;
  background-color: v.$color-card2;
  border: 1px solid v.$color-border;
  border-radius: 15px;
}

.uikit__card2-img {
  margin-bottom: 20px;
}

.uikit__card2-text {
  font-family: v.$font2;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  color: v.$color-font;
}