$color-font: #FDFDFD;
$color-font2:#2B2B2B;
$color-button: #023E73;
$color-button-hover:#034A89;
$color-button-active:#023969;
$color-button2:#205C91;
$color-button2-hover: #276FAE;
$color-button2-active:#2C6597;
$color-button3-hover: #272727;
$color-button3-active:#3A3A3A;
$color-border:#D9D9D9;
$color-title: #676767;
$color-card2: #0C487D;
$font: "MenorahGrotesk", Arial;
$font2: "Inter", Arial;